<h2>Sign up</h2>
<p>Signing up is simple and free. We will send a confirmation email after you have signed up.</p>
<div class="sign_up">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :name %><br />
  <%= f.text_field :name, :class => 'text' %></p>

  <p><%= f.label :email %><br />
  <%= f.email_field :email, :class => 'text' %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password, :class => 'text' %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, :class => 'text' %></p>

  <p><%= f.label :phone %><br />
  <%= f.text_field :phone, :class => 'text' %></p>

  <p><%= f.submit "Sign up", :class => 'submit_button' %></p>
<% end %>
</div>

<%= render :partial => "devise/shared/links" %>
