<% @update = Update.last(:conditions => {:user_id => @user.id, :tweet_done => true, :face_done => true, :google_done => true}) %>
<h2 class="date">Updated: <%= @update.updated_at.strftime("%B %d, %Y at %I:%M%p") %></h2>

<h1 class="client"><%= @user.client %></h1>
<a class="logout" href="/logout">Logout</a>
<div class="container clearfix">
	<div class="col1">
			<%= render :partial => "/shared/twitter" %>
	</div>
	<div class="col2">
			<%= render :partial => "/shared/facebook" %>
	</div>

	<div class="col3">
			<%= render :partial => "/shared/analytics" %>
			<br />
			<%= render :partial => "/shared/mailchimp" %>
	</div>
</div>



