	<% if @update.results %>
	<div class="col2">
		
		
		<% results = ActiveSupport::JSON.decode(@update.results) %>
		<% if @update.adwords %>
		<% adwords = ActiveSupport::JSON.decode(@update.adwords) %>
		<% end %>
		<table class="data" cellspacing=0>
			<tr>
				<td colspan="2"><h3 class="noMargin bold"><%= Time.now.strftime("%B") %> Current Stats</h3></td>
			</tr>
		<tr>
			<td><h3 class="noMargin">Goal Completions</h3></td> <td><%= results[4]["goalCompletionsAll"] %></td>
		</tr>
		<tr>	
			<td><h3 class="noMargin">Visits</h3></td> <td><%= results[3]["visits"] %></td>
		</tr>
		<tr>	
			<td><h3 class="noMargin">Page Views</h3></td> <td><%= results[0]["pageviews"] %></td>
		</tr>
		<tr>
			<td><h3 class="noMargin">New Visits</h3></td> <td><%= results[2]["newVisits"] %></td>
		</tr>
		<tr>
			<td><h3 class="noMargin">Avg. Time on Site</h3></td> <td><%= results[1]["avgTimeOnSite"] %> seconds</td>
		</tr>
		<% if @update.adwords %>
		<tr>
			<td><h3 class="noMargin">Impressions</h3></td> <td><%= adwords[0]["impressions"] %></td>
		</tr>
		<tr>
			<td><h3 class="noMargin">Ad Clicks</h3></td> <td><%= adwords[1]["adClicks"] %></td>
		</tr>
		<tr>
			<td><h3 class="noMargin">Click Through Rate</h3></td> <td><%= sprintf("%.2f", adwords[1]["adClicks"].to_f/adwords[0]["impressions"]*100) %>%</td>
		</tr>
		<tr>
			<td><h3 class="noMargin">Cost Per Click</h3></td> <td>$<%= sprintf("%.2f",adwords[5]["adCost"]/adwords[1]["adClicks"].to_f) %></td>
		</tr>
		<tr>
			<td><h3 class="noMargin">Conversions</h3></td> <td><%= adwords[6]["transactions"] + results[4]["goalCompletionsAll"] %></td>
		</tr>
		<tr>
			<td><h3 class="noMargin">Cost Per Conversion</h3></td> <td>$<%= sprintf("%.2f", adwords[5]["adCost"].to_f/(adwords[6]["transactions"] + results[4]["goalCompletionsAll"]).to_f) %></td>
		</tr>
		<tr>
			<td><h3 class="noMargin">Cost</h3></td> <td>$<%= adwords[5]["adCost"] %></td>
		</tr>
		<% end %>
		</table>
	</div>
	
		<% results_last = ActiveSupport::JSON.decode(@update.last_month) %>
		<% results_two = ActiveSupport::JSON.decode(@update.two_months) %>
		<% results_three = ActiveSupport::JSON.decode(@update.three_months) %>
		<% if @update.adwords %>
		<% adwords_last = ActiveSupport::JSON.decode(@update.last_adwords) %>
		<% adwords_two = ActiveSupport::JSON.decode(@update.two_months_adwords) %>
		<% adwords_three = ActiveSupport::JSON.decode(@update.three_months_adwords) %>
		<% end %>
		
	<div class="col3">
		<table class="data" cellspacing=0>
			<tr>
				<td colspan="4"><h3 class="noMargin bold"><%= 1.month.ago.strftime("%B") %>-<%= 2.month.ago.strftime("%B") %> Comparision</h3></td>
			</tr>
			<tr>
				<td>Goal Completions</td>
				<td><%= results_last[4]["goalCompletionsAll"] %></td>
				<td><%= results_two[4]["goalCompletionsAll"] %></td>
				<% avgTimeOnSite = results_last[4]["goalCompletionsAll"] - results_two[4]["goalCompletionsAll"]%>
				<td class="<% if avgTimeOnSite > 0 %> up<% else %>down<% end %>"><%= avgTimeOnSite %></td>
			</tr>
			<tr>
				<td>Page Views</td>
				<td><%= results_last[0]["pageviews"] %></td>
				<td><%= results_two[0]["pageviews"] %></td>
				<% pageviews = results_last[0]["pageviews"] - results_two[0]["pageviews"] %>
				<td class="<% if pageviews > 0 %> up<% else %>down<% end %>"><%= pageviews %></td>
			</tr>
			<tr>
				<td>Visits</td>
				<td><%= results_last[3]["visits"] %></td>
				<td><%= results_two[3]["visits"] %></td>
				<% visits = results_last[3]["visits"] - results_two[3]["visits"]%>
				<td class="<% if visits > 0 %> up<% else %>down<% end %>"><%= visits %></td>
			</tr>
			<tr>
				<td>New Visits</td>
				<td><%= results_last[2]["newVisits"] %></td>
				<td><%= results_two[2]["newVisits"] %></td>
				<% newVisits = results_last[2]["newVisits"] - results_two[2]["newVisits"]%>
				<td class="<% if newVisits > 0 %> up<% else %>down<% end %>"><%= newVisits %></td>
			</tr>
			<tr>
				<td>Avg. Time on Site</td>
				<td><%= results_last[1]["avgTimeOnSite"] %> sec</td>
				<td><%= results_two[1]["avgTimeOnSite"] %> sec</td>
				<% avgTimeOnSite = results_last[1]["avgTimeOnSite"] - results_two[1]["avgTimeOnSite"]%>
				<td class="<% if avgTimeOnSite > 0 %> up<% else %>down<% end %>"><%= avgTimeOnSite %> sec</td>
			</tr>
			<% if @update.adwords %>
			<tr>
				<td>Impressions</td>
				<td><%= adwords_last[0]["impressions"] %></td>
				<td><%= adwords_two[0]["impressions"] %></td>
				<% impressions = adwords_last[0]["impressions"] - adwords_two[0]["impressions"]%>
				<td class="<% if impressions > 0 %> up<% else %>down<% end %>"><%= impressions %></td>
			</tr>
				<td>Ad Clicks</td>
				<td><%= adwords_last[1]["adClicks"] %></td>
				<td><%= adwords_two[1]["adClicks"] %></td>
				<% clicks = adwords_last[1]["adClicks"] - adwords_two[1]["adClicks"]%>
				<td class="<% if clicks > 0 %> up<% else %>down<% end %>"><%= clicks %></td>
			</tr>
				<td>Click Through Rate</td>
				<td><%= sprintf("%.2f", adwords_last[1]["adClicks"].to_f/adwords_last[0]["impressions"]*100) %>%</td>
				<td><%= sprintf("%.2f", adwords_two[1]["adClicks"].to_f/adwords_two[0]["impressions"]*100) %>%</td>
				<% ctr = sprintf("%.2f", (adwords_last[1]["adClicks"].to_f/adwords_last[0]["impressions"] - adwords_two[1]["adClicks"].to_f/adwords_two[0]["impressions"])*100)%>
				<td class="<% if ctr.to_f > 0 %> up<% else %>down<% end %>"><%= ctr %>%</td>
			</tr>
			<tr>
				<td>Cost Per Click</td>
				<td>$<%= sprintf("%.2f", adwords_last[5]["adCost"]/adwords_last[1]["adClicks"].to_f) %></td>
				<td>$<%= sprintf("%.2f", adwords_two[5]["adCost"]/adwords_two[1]["adClicks"].to_f) %></td>
				<% cpc = sprintf("%.2f", (adwords_last[5]["adCost"]/adwords_last[1]["adClicks"].to_f) - adwords_two[5]["adCost"]/adwords_two[1]["adClicks"].to_f) %>
				<td class="<% if cpc.to_f < 0 %> up<% else %>down<% end %>">$<%= cpc %></td>
			</tr>
			<tr>
				<td>Conversions</td>
				<td><%= adwords_last[6]["transactions"] + results_last[4]["goalCompletionsAll"] %></td>
				<td><%= adwords_two[6]["transactions"] + results_two[4]["goalCompletionsAll"] %></td>
				<% conversions = (adwords_last[6]["transactions"] + results_last[4]["goalCompletionsAll"]) - (adwords_two[6]["transactions"] + results_two[4]["goalCompletionsAll"]) %>
				<td class="<% if conversions > 0 %> up<% else %>down<% end %>"><%= conversions %></td>
			</tr>
			<tr>
				<td>Cost Per Conversion</td>
				<td>$<%= sprintf("%.2f", adwords_last[5]["adCost"].to_f/(adwords_last[6]["transactions"] + results_last[4]["goalCompletionsAll"]).to_f) %></td>
				<td>$<%= sprintf("%.2f", adwords_two[5]["adCost"].to_f/(adwords_two[6]["transactions"] + results_two[4]["goalCompletionsAll"]).to_f) %></td>
				<% costpc = sprintf("%.2f", (adwords_last[5]["adCost"].to_f/(adwords_last[6]["transactions"] + results_last[4]["goalCompletionsAll"]).to_f) - (adwords_two[5]["adCost"].to_f/(adwords_two[6]["transactions"] + results_two[4]["goalCompletionsAll"]).to_f)) %>
				<td class="<% if costpc.to_f < 0 %> up<% else %>down<% end %>">$<%= costpc %></td>
			</tr>
			<tr>
				<td>Cost</td>
				<td>$<%= adwords_last[5]["adCost"] %></td>
				<td>$<%= adwords_two[5]["adCost"] %></td>
				<% cost = adwords_last[5]["adCost"] - adwords_two[5]["adCost"] %>
				<td class="<% if cost < 0 %> up<% else %>down<% end %>">$<%= cost %></td>
			</tr>
			<% end %>
		</table>
		
		<table class="data" cellspacing=0>
			<tr>
				<td colspan="4"><h3 class="noMargin bold"><%= 2.month.ago.strftime("%B") %>-<%= 3.month.ago.strftime("%B") %> Comparision</h3></td>
			</tr>
			<tr>
				<td>Goal Completions</td>
				<td><%= results_two[4]["goalCompletionsAll"] %></td>
				<td><%= results_three[4]["goalCompletionsAll"] %></td>
				<% avgTimeOnSite = results_two[4]["goalCompletionsAll"] - results_three[4]["goalCompletionsAll"]%>
				<td class="<% if avgTimeOnSite > 0 %> up<% else %>down<% end %>"><%= avgTimeOnSite %></td>
			</tr>
			<tr>
				<td>Page Views</td>
				<td><%= results_two[0]["pageviews"] %></td>
				<td><%= results_three[0]["pageviews"] %></td>
				<% pageviews = results_two[0]["pageviews"] - results_three[0]["pageviews"] %>
				<td class="<% if pageviews > 0 %> up<% else %>down<% end %>"><%= pageviews %></td>
			</tr>
			<tr>
				<td>Visits</td>
				<td><%= results_two[3]["visits"] %></td>
				<td><%= results_three[3]["visits"] %></td>
				<% visits = results_two[3]["visits"] - results_three[3]["visits"]%>
				<td class="<% if visits > 0 %> up<% else %>down<% end %>"><%= visits %></td>
			</tr>
			<tr>
				<td>New Visits</td>
				<td><%= results_two[2]["newVisits"] %></td>
				<td><%= results_three[2]["newVisits"] %></td>
				<% newVisits = results_two[2]["newVisits"] - results_three[2]["newVisits"]%>
				<td class="<% if newVisits > 0 %> up<% else %>down<% end %>"><%= newVisits %></td>
			</tr>
			<tr>
				<td>Avg. Time on Site</td>
				<td><%= results_two[1]["avgTimeOnSite"] %> sec</td>
				<td><%= results_three[1]["avgTimeOnSite"] %> sec</td>
				<% avgTimeOnSite = results_two[1]["avgTimeOnSite"] - results_three[1]["avgTimeOnSite"]%>
				<td class="<% if avgTimeOnSite > 0 %> up<% else %>down<% end %>"><%= avgTimeOnSite %> sec</td>
			</tr>
			<% if @update.adwords %>
			<tr>
				<td>Impressions</td>
				<td><%= adwords_two[0]["impressions"] %></td>
				<td><%= adwords_three[0]["impressions"] %></td>
				<% impressions = adwords_two[0]["impressions"] - adwords_three[0]["impressions"]%>
				<td class="<% if impressions > 0 %> up<% else %>down<% end %>"><%= impressions %></td>
			</tr>
				<td>Ad Clicks</td>
				<td><%= adwords_two[1]["adClicks"] %></td>
				<td><%= adwords_three[1]["adClicks"] %></td>
				<% clicks = adwords_two[1]["adClicks"] - adwords_three[1]["adClicks"]%>
				<td class="<% if clicks > 0 %> up<% else %>down<% end %>"><%= clicks %></td>
			</tr>
				<td>Click Through Rate</td>
				<td><%= sprintf("%.2f", adwords_two[1]["adClicks"].to_f/adwords_two[0]["impressions"]*100) %>%</td>
				<td><%= sprintf("%.2f", adwords_three[1]["adClicks"].to_f/adwords_three[0]["impressions"]*100) %>%</td>
				<% ctr = sprintf("%.2f", (adwords_two[1]["adClicks"].to_f/adwords_two[0]["impressions"] - adwords_three[1]["adClicks"].to_f/adwords_three[0]["impressions"])*100)%>
				<td class="<% if ctr.to_f > 0 %> up<% else %>down<% end %>"><%= ctr %>%</td>
			</tr>
			<tr>
				<td>Cost Per Click</td>
				<td>$<%= sprintf("%.2f", adwords_two[5]["adCost"]/adwords_two[1]["adClicks"].to_f) %></td>
				<td>$<%= sprintf("%.2f", adwords_three[5]["adCost"]/adwords_three[1]["adClicks"].to_f) %></td>
				<% cpc = sprintf("%.2f", (adwords_two[5]["adCost"]/adwords_two[1]["adClicks"].to_f) - adwords_three[5]["adCost"]/adwords_three[1]["adClicks"].to_f) %>
				<td class="<% if cpc.to_f < 0 %> up<% else %>down<% end %>">$<%= cpc %></td>
			</tr>
			<tr>
				<td>Conversions</td>
				<td><%= adwords_two[6]["transactions"] + results_two[4]["goalCompletionsAll"] %></td>
				<td><%= adwords_three[6]["transactions"] + results_three[4]["goalCompletionsAll"] %></td>
				<% conversions = (adwords_two[6]["transactions"] + results_two[4]["goalCompletionsAll"]) - (adwords_three[6]["transactions"] + results_three[4]["goalCompletionsAll"]) %>
				<td class="<% if conversions > 0 %> up<% else %>down<% end %>"><%= conversions %></td>
			</tr>
			<tr>
				<td>Cost Per Conversion</td>
				<td>$<%= sprintf("%.2f", adwords_two[5]["adCost"].to_f/(adwords_two[6]["transactions"] + results_two[4]["goalCompletionsAll"]).to_f) %></td>
				<td>$<%= sprintf("%.2f", adwords_three[5]["adCost"].to_f/(adwords_three[6]["transactions"] + results_three[4]["goalCompletionsAll"]).to_f) %></td>
				<% costpc = sprintf("%.2f", (adwords_two[5]["adCost"].to_f/(adwords_two[6]["transactions"] + results_two[4]["goalCompletionsAll"]).to_f) - (adwords_three[5]["adCost"].to_f/(adwords_three[6]["transactions"] + results_three[4]["goalCompletionsAll"]).to_f)) %>
				<td class="<% if costpc.to_f < 0 %> up<% else %>down<% end %>">$<%= costpc %></td>
			</tr>
			<tr>
				<td>Cost</td>
				<td>$<%= adwords_two[5]["adCost"] %></td>
				<td>$<%= adwords_three[5]["adCost"] %></td>
				<% cost = adwords_two[5]["adCost"] - adwords_three[5]["adCost"] %>
				<td class="<% if cost < 0 %> up<% else %>down<% end %>">$<%= cost %></td>
			</tr>
			<% end %>
		</table>
	</div>
	<% else %>
	<div class="col2">
			<h2>Sorry! Your information is not ready yet.</h2>
			<p>Information is gathered once every hour and your app hasn't gathered any data yet.</p>
		</div>
	<% end %>
