<% if @user.google_authd?(@user) %>
	<h2 class="notop">Your Google Analytics</h2>
	<h3>This Month</h3>
	<% gs = User.google %>
	<% gs.profile_id = @user.analytics %>

	<% currentMonth = Time.now.strftime('%Y-%m-01') %>
	<% lastMonth = 1.month.ago.strftime("%Y-%m-01") %>
	<% twoMonths = 2.month.ago.strftime("%Y-%m-01") %>

	<% results = gs.get({:start_date => lastMonth, :end_date => currentMonth, :metrics => ['pageviews','avgTimeOnSite','newVisits','visits']}) %>
	<p>
	<b>Page Views:</b> <%= results.points.first.metrics.first[:pageviews] %><br />
	<b>Visits:</b> <%= results.points.first.metrics.fourth[:visits] %><br />
	<b>New Visits:</b> <%= results.points.first.metrics.third[:newVisits] %><br />
	<b>Avg. Time on Site:</b> <%= results.points.first.metrics.second[:avgTimeOnSite] %> seconds
	</p>
	
	<% results = gs.get({:start_date => twoMonths, :end_date => lastMonth, :metrics => ['pageviews','avgTimeOnSite','newVisits','visits']}) %>
	<h3>Last Month</h3>
	<p>
	<b>Page Views</b>: <%= results.points.first.metrics.first[:pageviews] %><br />
	<b>Visits:</b> <%= results.points.first.metrics.fourth[:visits] %><br />
	<b>New Visits:</b> <%= results.points.first.metrics.third[:newVisits] %><br />
	<b>Avg. Time on Site:</b> <%= results.points.first.metrics.second[:avgTimeOnSite] %> seconds
	</p>
	
<% else %>
	<h3>Get Your Google Analytics!</h3>
	<p>Please contact <a href="mailto:steph@balcomagency.com">Steph</a> at The Balcom Agency in order to get your Google Analytics.</p>
<% end %>