<% if @user.google_authd?(@user) %>
	<% if @update %>
		<img class="logo" src="/images/google.png" />
		<h3><%= Time.now.strftime("%B") %> Current Stats</h3>
	
		<% results = ActiveSupport::JSON.decode(@update.results) %>
		<p>
		<b>Page Views:</b> <%= results.first["pageviews"] %><br />
		<b>Visits:</b> <%= results.fourth["visits"] %><br />
		<b>New Visits:</b> <%= results.third["newVisits"] %><br />
		<b>Avg. Time on Site:</b> <%= results.second["avgTimeOnSite"] %> seconds
		</p>
	
		<% results_last = ActiveSupport::JSON.decode(@update.last_month) %>
		<% results_two = ActiveSupport::JSON.decode(@update.two_months) %>
		<table class="data">
			<tr>
				<th></th>
				<th><%= 1.month.ago.strftime("%B") %></th>
				<th><%= 2.month.ago.strftime("%B") %></th>
				<th>Difference</th>
			</tr>
			<tr>
				<td>Page Views</td>
				<td><%= results_last.first["pageviews"] %></td>
				<td><%= results_two.first["pageviews"] %></td>
				<td class="<% if results_last.second["pageviews"] >  results_two.second["pageviews"] %> up<% else %>down<% end %>"><%= results_last.second["pageviews"] - results_two.second["pageviews"] %></td>
			</tr>
			<tr>
				<td>Visits</td>
				<td><%= results_last.fourth["visits"] %></td>
				<td><%= results_two.fourth["visits"] %></td>
				<td class="<% if results_last.second["visits"] >  results_two.second["visits"] %> up<% else %>down<% end %>"><%= results_last.second["visits"] - results_two.second["visits"] %></td>
			</tr>
			<tr>
				<td>New Visits</td>
				<td><%= results_last.third["newVisits"] %></td>
				<td><%= results_two.third["newVisits"] %></td>
				<td class="<% if results_last.second["newVisits"] >  results_two.second["newVisits"] %> up<% else %>down<% end %>"><%= results_last.second["newVisits"] - results_two.second["newVisits"] %></td>
			</tr>
			<tr>
				<td>Avg. Time on Site</td>
				<td><%= results_last.second["avgTimeOnSite"] %></td>
				<td><%= results_two.second["avgTimeOnSite"] %></td>
				<td class="<% if results_last.second["avgTimeOnSite"] >  results_two.second["avgTimeOnSite"] %> up<% else %>down<% end %>"><%= results_last.second["avgTimeOnSite"] - results_two.second["avgTimeOnSite"] %></td>
			</tr>
		</table>
	<% else %>
			<h2>Sorry! Your information is not ready yet.</h2>
			<p>Information is gathered once every hour and your app hasn't gathered any data yet.</p>
	<% end %>
<% else %>
	<h3>Get Your Google Analytics!</h3>
	<p>Please contact <a href="mailto:steph@balcomagency.com">Steph</a> at The Balcom Agency in order to get your Google Analytics.</p>
<% end %>