<% if @user.google_authd?(@user) %>
	<% if @update %>
		<img class="logo" src="/images/google.png" />
		<h3><%= Time.now.strftime("%B") %> Current Stats</h3>
	
		<% results = ActiveSupport::JSON.decode(@update.results) %>
		<p>
		<b>Page Views:</b> <%= results.first["pageviews"] %><br />
		<b>Visits:</b> <%= results.fourth["visits"] %><br />
		<b>New Visits:</b> <%= results.third["newVisits"] %><br />
		<b>Avg. Time on Site:</b> <%= results.second["avgTimeOnSite"] %> seconds
		</p>
	
		<% results = ActiveSupport::JSON.decode(@update.last_month) %>
		<h3><%= 1.month.ago.strftime("%B") %> Total Stats</h3>
		<p>
		<b>Page Views</b>: <%= results.first["pageviews"] %><br />
		<b>Visits:</b> <%= results.fourth["visits"] %><br />
		<b>New Visits:</b> <%= results.third["newVisits"] %><br />
		<b>Avg. Time on Site:</b> <%= results.second["avgTimeOnSite"] %> seconds
		</p>
	<% else %>
			<h2>Sorry! Your information is not ready yet.</h2>
			<p>Information is gathered once every hour and your app hasn't gathered any data yet.</p>
	<% end %>
<% else %>
	<h3>Get Your Google Analytics!</h3>
	<p>Please contact <a href="mailto:steph@balcomagency.com">Steph</a> at The Balcom Agency in order to get your Google Analytics.</p>
<% end %>