<div class="col1">
		<%= render :partial => "/shared/menu" %>
		<img class="side_logo active" src="/images/facebook.png" />
		<img class="side_logo face_logo" src="/images/facebook.png" />
		<img class="side_logo mail_logo" src="/images/mailchimp.png" />
		<img class="side_logo google_logo" src="/images/google.png" />
		<img class="side_logo twitter_logo" src="/images/twitter.png" />
</div>

<div class="detail active">
	<div class="col2">
		<h3>Detail View</h3>
		<p>Choose one of your application to the left in order to get more information about how you are doing.</p>
	</div>
	<div class="col3">
		<img class="logo" src="/images/twitter.png" />
		<img class="logo" src="/images/facebook.png" />
		<img class="logo" src="/images/google.png" />
		<img class="logo" src="/images/mailchimp.png" />
	</div>
</div>

<% if @user.twitter_authd?(@user) %>
	<div class="twitter detail">
		<%= render :partial => "/shared/twitter" %>
	</div>
<% end %>

<% if @user.facebook_authd?(@user) %>
	<div class="facebook detail">
		<%= render :partial => "/shared/facebook" %>
	</div>
<% end %>

<% if @user.google_authd?(@user) %>
	<div class="google detail">
		<%= render :partial => "/shared/analytics" %>
	</div>
<% end %>

<% if @user.mailchimp_authd?(@user) %>
	<div class="mailchimp detail">
		<%= render :partial => "/shared/mailchimp" %>
	</div>
<% end %>
