<% if @user.facebook_authd?(@user) %>
	<img class="logo" src="/images/facebook.png" />
	<% client = User.facebook %>
	<% page = client.selection.page(@user.facebook_token) %>
	<div>
	<img class="book" src="<%= page.picture %>" />
	<h3 class="noMargin facebook"><%= page.info!["name"] %></h3>

	<span class="number">Likes: <%= page.info!["likes"] %></span>
	</div>
	<% count = page.info!["likes"] - @user.facebook_monthly_count %>
	<div class="count <% if count > 0 %>plus<% elsif count < 0 %>negative<% end %>"><span class="label">Likes this Month</span> <span class="divider"> <%= count %></span></div>
	<% feed = page.feed.limit(10).info!["data"] %>
	<h3 class="nobot">Your Wall</h3>
	<ul class="facebook">
	<% feed.each do | feed |%>
		<li class="clearfix"><img class="twitter" src="<%= client.selection.user(feed["from"]["id"]).picture %>" /> 
		<div class="status">
			<b><a target="_blank" href="<%= client.selection.user(feed["from"]["id"]).info!["link"] %>"><%= feed["from"]["name"] %></a></b><br />
		<p class="message"><%= feed["message"] %></p>
		<% if feed["picture"] %>
			<img class="facebook" src="<%= feed["picture"] %>" />
			<a href="<%= feed["link"] %>"><%= feed["name"] %></a><br />
			<p class="description"><%= feed["description"] %></p>
			</div>
		<% end %>
		</li>
	<% end %>
	</ul>
<% else %>
	<h3>Register Your account on Facebook!</h3>
	<p>Please contact <a href="mailto:steph@balcomagency.com">Steph</a> at The Balcom Agency in order to get your facebook account set up.</p>
<% end %>