	<% if @update.face_name %>
	<div class="col2">
		
		<div>
		<img class="book" src="<%= @update.face_pic %>" />
		<h3 class="noMargin facebook"><%= @update.face_name %></h3>

		<span class="number">Likes: <%= @update.likes %></span>
		</div>
		<div class="count <% if @update.new_likes > 0 %>plus<% elsif @update.new_likes < 0 %>negative<% end %>"><span class="label">Likes this Month</span> <span class="divider"> <%= @update.new_likes %></span></div>
	</div>
	
	<div class="col3">
		<% feed = ActiveSupport::JSON.decode(@update.feed) %>
		<h3 class="nobot">Your Wall</h3>
		<ul class="facebook">
		<% feed.each do | feed |%>
			<% status = Feed.first(:conditions => {:feed_id => feed["id"]})%>
			<li class="clearfix"><img class="twitter" src="<%= status.picture %>" /> 
			<div class="status">
				<b><a target="_blank" href="<%= status.link %>"><%= feed["from"]["name"] %></a></b><br />
			<p class="message"><%= feed["message"] %></p>
			<% if feed["picture"] %>
				<img class="facebook" src="<%= feed["picture"] %>" />
				<a href="<%= feed["link"] %>"><%= feed["name"] %></a><br />
				<p class="description"><%= feed["description"] %></p>
			<% end %>
			</div>
			</li>
		<% end %>
		</ul>
	</div>
		<% else %>
		<div class="col2">
				<h2>Sorry! Your information is not ready yet.</h2>
				<p>Information is gathered once every hour and your app hasn't gathered any data yet.</p>
		</div>
	<% end %>
