<% if @user.facebook_authd?(@user) %>
	<h2 class="notop">Your Facebook</h2>
	<% client = User.facebook %>
	<% page = client.selection.page(@user.facebook_token) %>
	<img class="book" src="<%= page.picture %>" />
	<h3 class="nobot facebook"><%= page.info!["name"] %></h3>

	Likes: <%= page.info!["likes"] %><br />
	<b>New Likes this Month:</b> <%= page.info!["likes"] - @user.facebook_monthly_count %>
	<% feed = page.feed.limit(15).info!["data"] %>
	<h3 class="nobot">Your Wall</h3>
	<ul class="facebook">
	<% feed.each do | feed |%>
		<li class="clearfix"><img class="twitter" src="<%= client.selection.user(feed["from"]["id"]).picture %>" /> <b><a target="_blank" href="<%= client.selection.user(feed["from"]["id"]).info!["link"] %>"><%= feed["from"]["name"] %></a></b><br />
		<p class="message"><%= feed["message"] %></p>
		<% if feed["picture"] %>
			<img class="facebook" src="<%= feed["picture"] %>" />
			<a href="<%= feed["link"] %>"><%= feed["name"] %></a><br />
			<p class="description"><%= feed["description"] %></p>
		<% end %>
		</li>
	<% end %>
	</ul>
<% else %>
	<h3>Register Your account on Facebook!</h3>
	<p>Please contact <a href="mailto:steph@balcomagency.com">Steph</a> at The Balcom Agency in order to get your facebook account set up.</p>
<% end %>