	<% if @update.chimp_done %>
	<div class="col2">
		<img class="logo" src="/images/mailchimp.png" />
	<div>
		<h3 class="noMargin bold"><%= @update.chimp_name %></h3>
	</div>
	
	<% growth = ActiveSupport::JSON.decode(@update.growth) %>
	
	<table class="data" cellspacing=0>
		<tr>
			<td colspan="3"><h3 class="noMargin bold">Growth</h3></td>
		</tr>
		<tr>
			<td>Month</td>
			<td>Members</td>
			<td>New Members</td>
		</tr>
		<tr>
			<td><h3 class="noMargin"><%= Time.parse(growth.last["month"] + '-01').strftime("%B") %></h3></td>
			<td><h3 class="noMargin"><%= growth.last["existing"] %></h3></td>
			<td><h3 class="noMargin"><%= growth.last["optins"] %></h3></td>
		</tr>
		<tr>
			<td><%= Time.parse(growth[-2]["month"] + '-01').strftime("%B") %></td>
			<td><%= growth[-2]["existing"] %></td>
			<td><%= growth[-2]["optins"] %></td>
		</tr>
		<tr>
			<td><%= Time.parse(growth[-3]["month"] + '-01').strftime("%B") %></td>
			<td><%= growth[-3]["existing"] %></td>
			<td><%= growth[-3]["optins"] %></td>
		</tr>
		<tr>
			<td><%= Time.parse(growth[-4]["month"] + '-01').strftime("%B") %></td>
			<td><%= growth[-4]["existing"] %></td>
			<td><%= growth[-4]["optins"] %></td>
		</tr>
		<tr>
			<td><%= Time.parse(growth[-5]["month"] + '-01').strftime("%B") %></td>
			<td><%= growth[-5]["existing"] %></td>
			<td><%= growth[-5]["optins"] %></td>
		</tr>
	</table>
	
	<% chatter = ActiveSupport::JSON.decode(@update.chatter) %>
	
	<h3 class="noMargin bold">Chimp Chatter</h3>
	<ul class="chatter">
		<% chatter[0..4].each do |chat| %>
			<li><%= Time.parse(chat["update_time"]).strftime("%b %d, %Y at %I:%M%p") %>
			<p class="<% if chat["type"] == 'lists:new-subscriber' %>up<% elsif chat["type"] == 'lists:unsubscribes' %>down<% end %>"><%= chat["message"]%></p></li>
		<% end %>
	</ul>
		</div>
	
	<div class="col3">
		<% campaign = ActiveSupport::JSON.decode(@update.campaign) %>
		<% stats = ActiveSupport::JSON.decode(@update.stats) %>

		<table class="data" cellspacing=0>
			<tr>
				<td colspan="3"><h3 class="noMargin bold">Most Recent Campaigns</h3></td>
			</tr>
			<tr>
				<td>Name</td>
				<td colspan="2"><%= campaign.first["title"] %></td>
			</tr>
			<tr>
				<td>Sent at</td>
				<td colspan="2"><%= Time.parse(campaign.first["create_time"]).strftime("%b %d, %Y at %I:%M%p")%></td>
			</tr>
			<tr>
				<td>Messages Sent</td>
				<td colspan="2"><%= stats["emails_sent"].to_i %></td>
			</tr>
			<tr>
				<td>Messages Opened</td>
				<td><%= stats["unique_opens"].to_i %></td>
				<td><%= sprintf("%.2f", stats["unique_opens"]/stats["emails_sent"]*100) %>%</td>
			</tr>
			<tr>
				<td>Messages Clicked</td>
				<td colspan="2"><%= stats["users_who_clicked"].to_i %></td>
			</tr>
			<tr>
				<td>Click Rate</td>
				<td colspan="2"><%= sprintf("%.2f", stats["users_who_clicked"]/stats["emails_sent"]*100) %>%</td>
			</tr>
		</table>

		<% stats = ActiveSupport::JSON.decode(@update.stats2) %>

		<table class="data" cellspacing=0>
			<tr>
				<td>Name</td>
				<td colspan="2"><%= campaign.second["title"] %></td>
			</tr>
			<tr>
				<td>Sent at</td>
				<td colspan="2"><%= Time.parse(campaign.second["create_time"]).strftime("%b %d, %Y at %I:%M%p")%></td>
			</tr>
			<tr>
				<td>Messages Sent</td>
				<td colspan="2"><%= stats["emails_sent"].to_i %></td>
			</tr>
			<tr>
				<td>Messages Opened</td>
				<td><%= stats["unique_opens"].to_i %></td>
				<td><%= sprintf("%.2f", stats["unique_opens"]/stats["emails_sent"]*100) %>%</td>
			</tr>
			<tr>
				<td>Messages Clicked</td>
				<td colspan="2"><%= stats["users_who_clicked"].to_i %></td>
			</tr>
			<tr>
				<td>Click Rate</td>
				<td colspan="2"><%= sprintf("%.2f", stats["users_who_clicked"]/stats["emails_sent"]*100) %>%</td>
			</tr>
		</table>
		
		<% stats = ActiveSupport::JSON.decode(@update.stats3) %>

		<table class="data" cellspacing=0>
			<tr>
				<td>Name</td>
				<td colspan="2"><%= campaign.third["title"] %></td>
			</tr>
			<tr>
				<td>Sent at</td>
				<td colspan="2"><%= Time.parse(campaign.third["create_time"]).strftime("%b %d, %Y at %I:%M%p")%></td>
			</tr>
			<tr>
				<td>Messages Sent</td>
				<td colspan="2"><%= stats["emails_sent"].to_i %></td>
			</tr>
			<tr>
				<td>Messages Opened</td>
				<td><%= stats["unique_opens"].to_i %></td>
				<td><%= sprintf("%.2f", stats["unique_opens"]/stats["emails_sent"]*100) %>%</td>
			</tr>
			<tr>
				<td>Messages Clicked</td>
				<td colspan="2"><%= stats["users_who_clicked"].to_i %></td>
			</tr>
			<tr>
				<td>Click Rate</td>
				<td colspan="2"><%= sprintf("%.2f", stats["users_who_clicked"]/stats["emails_sent"]*100) %>%</td>
			</tr>
		</table>
	</div>
	<% else %>
	<div class="col2">
			<h2>Sorry! Your information is not ready yet.</h2>
			<p>Information is gathered once every hour and your app hasn't gathered any data yet.</p>
		</div>
	<% end %>

