	<% if @update.chimp_name %>
	<div class="col2">
		
		<h3 class="noMargin bold mobile_pad"><%= @update.chimp_name %></h3>
		<% campaign = ActiveSupport::JSON.decode(@update.campaign) %>
		<% stats = ActiveSupport::JSON.decode(@update.stats) %>

		<table class="data" cellspacing=0>
			<tr>
				<td colspan="3"><h3 class="noMargin bold">Most Recent Campaigns</h3></td>
			</tr>
			<tr>
				<td>Name</td>
				<td colspan="2"><%= campaign.first["title"] %></td>
			</tr>
			<tr>
				<td>Sent at</td>
				<td colspan="2"><%= Time.parse(campaign.first["create_time"]).strftime("%b %d, %Y at %I:%M%p")%></td>
			</tr>
			<tr>
				<td>Messages Sent</td>
				<td colspan="2"><%= stats["emails_sent"].to_i %></td>
			</tr>
			<tr>
				<td>Messages Opened</td>
				<td><%= stats["unique_opens"].to_i %></td>
				<td><%= sprintf("%.2f", stats["unique_opens"]/stats["emails_sent"]*100) %>%</td>
			</tr>
			<tr>
				<td>Messages Clicked</td>
				<td colspan="2"><%= stats["users_who_clicked"].to_i %></td>
			</tr>
			<tr>
				<td>Click Rate</td>
				<td colspan="2"><%= sprintf("%.2f", stats["users_who_clicked"]/stats["emails_sent"]*100) %>%</td>
			</tr>
		</table>
    <% if(campaign[1] && @update.stats2) %>
		<% stats = ActiveSupport::JSON.decode(@update.stats2) %>

		<table class="data" cellspacing=0>
			<tr>
				<td>Name</td>
				<td colspan="2"><%= campaign[1]["title"] %></td>
			</tr>
			<tr>
				<td>Sent at</td>
				<td colspan="2"><%= Time.parse(campaign[1]["create_time"]).strftime("%b %d, %Y at %I:%M%p")%></td>
			</tr>
			<tr>
				<td>Messages Sent</td>
				<td colspan="2"><%= stats["emails_sent"].to_i %></td>
			</tr>
			<tr>
				<td>Messages Opened</td>
				<td><%= stats["unique_opens"].to_i %></td>
				<td><%= sprintf("%.2f", stats["unique_opens"]/stats["emails_sent"]*100) %>%</td>
			</tr>
			<tr>
				<td>Messages Clicked</td>
				<td colspan="2"><%= stats["users_who_clicked"].to_i %></td>
			</tr>
			<tr>
				<td>Click Rate</td>
				<td colspan="2"><%= sprintf("%.2f", stats["users_who_clicked"]/stats["emails_sent"]*100) %>%</td>
			</tr>
		</table>
		<% end %>
    <% if(campaign[2] && @update.stats3) %>
		<% stats = ActiveSupport::JSON.decode(@update.stats3) %>

		<table class="data" cellspacing=0>
			<tr>
				<td>Name</td>
				<td colspan="2"><%= campaign[2]["title"] %></td>
			</tr>
			<tr>
				<td>Sent at</td>
				<td colspan="2"><%= Time.parse(campaign[2]["create_time"]).strftime("%b %d, %Y at %I:%M%p")%></td>
			</tr>
			<tr>
				<td>Messages Sent</td>
				<td colspan="2"><%= stats["emails_sent"].to_i %></td>
			</tr>
			<tr>
				<td>Messages Opened</td>
				<td><%= stats["unique_opens"].to_i %></td>
				<td><%= sprintf("%.2f", stats["unique_opens"]/stats["emails_sent"]*100) %>%</td>
			</tr>
			<tr>
				<td>Messages Clicked</td>
				<td colspan="2"><%= stats["users_who_clicked"].to_i %></td>
			</tr>
			<tr>
				<td>Click Rate</td>
				<td colspan="2"><%= sprintf("%.2f", stats["users_who_clicked"]/stats["emails_sent"]*100) %>%</td>
			</tr>
		</table>
		<% end %>
    <% if(campaign[3] && @update.stats4) %>
		<% stats = ActiveSupport::JSON.decode(@update.stats4) %>

  	<table class="data" cellspacing=0>
  		<tr>
  			<td>Name</td>
  			<td colspan="2"><%= campaign[3]["title"] %></td>
  		</tr>
  		<tr>
  			<td>Sent at</td>
  			<td colspan="2"><%= Time.parse(campaign[3]["create_time"]).strftime("%b %d, %Y at %I:%M%p")%></td>
  		</tr>
  		<tr>
  			<td>Messages Sent</td>
  			<td colspan="2"><%= stats["emails_sent"].to_i %></td>
  		</tr>
  		<tr>
  			<td>Messages Opened</td>
  			<td><%= stats["unique_opens"].to_i %></td>
  			<td><%= sprintf("%.2f", stats["unique_opens"]/stats["emails_sent"]*100) %>%</td>
  		</tr>
  		<tr>
  			<td>Messages Clicked</td>
  			<td colspan="2"><%= stats["users_who_clicked"].to_i %></td>
  		</tr>
  		<tr>
  			<td>Click Rate</td>
  			<td colspan="2"><%= sprintf("%.2f", stats["users_who_clicked"]/stats["emails_sent"]*100) %>%</td>
  		</tr>
  	</table>
    <% end %>
    <% if(campaign[4] && @update.stats5) %>
  	<% stats = ActiveSupport::JSON.decode(@update.stats5) %>

  	<table class="data" cellspacing=0>
  		<tr>
  			<td>Name</td>
  			<td colspan="2"><%= campaign[4]["title"] %></td>
  		</tr>
  		<tr>
  			<td>Sent at</td>
  			<td colspan="2"><%= Time.parse(campaign[4]["create_time"]).strftime("%b %d, %Y at %I:%M%p")%></td>
  		</tr>
  		<tr>
  			<td>Messages Sent</td>
  			<td colspan="2"><%= stats["emails_sent"].to_i %></td>
  		</tr>
  		<tr>
  			<td>Messages Opened</td>
  			<td><%= stats["unique_opens"].to_i %></td>
  			<td><%= sprintf("%.2f", stats["unique_opens"]/stats["emails_sent"]*100) %>%</td>
  		</tr>
  		<tr>
  			<td>Messages Clicked</td>
  			<td colspan="2"><%= stats["users_who_clicked"].to_i %></td>
  		</tr>
  		<tr>
  			<td>Click Rate</td>
  			<td colspan="2"><%= sprintf("%.2f", stats["users_who_clicked"]/stats["emails_sent"]*100) %>%</td>
  		</tr>
  	</table>
    <% end %>
    <% if(campaign[5] && @update.stats6) %>
  	<% stats = ActiveSupport::JSON.decode(@update.stats6) %>

  	<table class="data" cellspacing=0>
  		<tr>
  			<td>Name</td>
  			<td colspan="2"><%= campaign[5]["title"] %></td>
  		</tr>
  		<tr>
  			<td>Sent at</td>
  			<td colspan="2"><%= Time.parse(campaign[5]["create_time"]).strftime("%b %d, %Y at %I:%M%p")%></td>
  		</tr>
  		<tr>
  			<td>Messages Sent</td>
  			<td colspan="2"><%= stats["emails_sent"].to_i %></td>
  		</tr>
  		<tr>
  			<td>Messages Opened</td>
  			<td><%= stats["unique_opens"].to_i %></td>
  			<td><%= sprintf("%.2f", stats["unique_opens"]/stats["emails_sent"]*100) %>%</td>
  		</tr>
  		<tr>
  			<td>Messages Clicked</td>
  			<td colspan="2"><%= stats["users_who_clicked"].to_i %></td>
  		</tr>
  		<tr>
  			<td>Click Rate</td>
  			<td colspan="2"><%= sprintf("%.2f", stats["users_who_clicked"]/stats["emails_sent"]*100) %>%</td>
  		</tr>
  	</table>
  	<% end %>
    <% if(campaign[6] && @update.stats7) %>
  	<% stats = ActiveSupport::JSON.decode(@update.stats7) %>

  	<table class="data" cellspacing=0>
  		<tr>
  			<td>Name</td>
  			<td colspan="2"><%= campaign[6]["title"] %></td>
  		</tr>
  		<tr>
  			<td>Sent at</td>
  			<td colspan="2"><%= Time.parse(campaign[6]["create_time"]).strftime("%b %d, %Y at %I:%M%p")%></td>
  		</tr>
  		<tr>
  			<td>Messages Sent</td>
  			<td colspan="2"><%= stats["emails_sent"].to_i %></td>
  		</tr>
  		<tr>
  			<td>Messages Opened</td>
  			<td><%= stats["unique_opens"].to_i %></td>
  			<td><%= sprintf("%.2f", stats["unique_opens"]/stats["emails_sent"]*100) %>%</td>
  		</tr>
  		<tr>
  			<td>Messages Clicked</td>
  			<td colspan="2"><%= stats["users_who_clicked"].to_i %></td>
  		</tr>
  		<tr>
  			<td>Click Rate</td>
  			<td colspan="2"><%= sprintf("%.2f", stats["users_who_clicked"]/stats["emails_sent"]*100) %>%</td>
  		</tr>
  	</table>
    <% end %>
    <% if(campaign[7] && @update.stats8) %>
  	<% stats = ActiveSupport::JSON.decode(@update.stats8) %>

  	<table class="data" cellspacing=0>
  		<tr>
  			<td>Name</td>
  			<td colspan="2"><%= campaign[7]["title"] %></td>
  		</tr>
  		<tr>
  			<td>Sent at</td>
  			<td colspan="2"><%= Time.parse(campaign[7]["create_time"]).strftime("%b %d, %Y at %I:%M%p")%></td>
  		</tr>
  		<tr>
  			<td>Messages Sent</td>
  			<td colspan="2"><%= stats["emails_sent"].to_i %></td>
  		</tr>
  		<tr>
  			<td>Messages Opened</td>
  			<td><%= stats["unique_opens"].to_i %></td>
  			<td><%= sprintf("%.2f", stats["unique_opens"]/stats["emails_sent"]*100) %>%</td>
  		</tr>
  		<tr>
  			<td>Messages Clicked</td>
  			<td colspan="2"><%= stats["users_who_clicked"].to_i %></td>
  		</tr>
  		<tr>
  			<td>Click Rate</td>
  			<td colspan="2"><%= sprintf("%.2f", stats["users_who_clicked"]/stats["emails_sent"]*100) %>%</td>
  		</tr>
  	</table>
    <% end %>
    <% if(campaign[8] && @update.stats9) %>
  	<% stats = ActiveSupport::JSON.decode(@update.stats9) %>

  	<table class="data" cellspacing=0>
  		<tr>
  			<td>Name</td>
  			<td colspan="2"><%= campaign[8]["title"] %></td>
  		</tr>
  		<tr>
  			<td>Sent at</td>
  			<td colspan="2"><%= Time.parse(campaign[8]["create_time"]).strftime("%b %d, %Y at %I:%M%p")%></td>
  		</tr>
  		<tr>
  			<td>Messages Sent</td>
  			<td colspan="2"><%= stats["emails_sent"].to_i %></td>
  		</tr>
  		<tr>
  			<td>Messages Opened</td>
  			<td><%= stats["unique_opens"].to_i %></td>
  			<td><%= sprintf("%.2f", stats["unique_opens"]/stats["emails_sent"]*100) %>%</td>
  		</tr>
  		<tr>
  			<td>Messages Clicked</td>
  			<td colspan="2"><%= stats["users_who_clicked"].to_i %></td>
  		</tr>
  		<tr>
  			<td>Click Rate</td>
  			<td colspan="2"><%= sprintf("%.2f", stats["users_who_clicked"]/stats["emails_sent"]*100) %>%</td>
  		</tr>
  	</table>
    <% end %>
    <% if(campaign[9] && @update.stats10) %>
  	<% stats = ActiveSupport::JSON.decode(@update.stats10) %>

  	<table class="data" cellspacing=0>
  		<tr>
  			<td>Name</td>
  			<td colspan="2"><%= campaign[9]["title"] %></td>
  		</tr>
  		<tr>
  			<td>Sent at</td>
  			<td colspan="2"><%= Time.parse(campaign[9]["create_time"]).strftime("%b %d, %Y at %I:%M%p")%></td>
  		</tr>
  		<tr>
  			<td>Messages Sent</td>
  			<td colspan="2"><%= stats["emails_sent"].to_i %></td>
  		</tr>
  		<tr>
  			<td>Messages Opened</td>
  			<td><%= stats["unique_opens"].to_i %></td>
  			<td><%= sprintf("%.2f", stats["unique_opens"]/stats["emails_sent"]*100) %>%</td>
  		</tr>
  		<tr>
  			<td>Messages Clicked</td>
  			<td colspan="2"><%= stats["users_who_clicked"].to_i %></td>
  		</tr>
  		<tr>
  			<td>Click Rate</td>
  			<td colspan="2"><%= sprintf("%.2f", stats["users_who_clicked"]/stats["emails_sent"]*100) %>%</td>
  		</tr>
  	</table>
  	<% end %>
  </div>	
	<div class="col3">
		
		<% growth = ActiveSupport::JSON.decode(@update.growth) %>
		<% open_rate = ActiveSupport::JSON.decode(@update.top_open) %>
		<% click_rate = ActiveSupport::JSON.decode(@update.top_click) %>
		
		<h3 class="noMargin bold mobile_pad">Growth</h3>
		<table class="data" cellspacing=0>
			<tr>
				<td>Month</td>
				<td>Members</td>
				<td>New Members</td>
			</tr>
			<tr>
				<td><h3 class="noMargin"><%= Time.parse(growth.last["month"] + '-01').strftime("%B") %></h3></td>
				<td><h3 class="noMargin"><%= growth.last["existing"] %></h3></td>
				<td><h3 class="noMargin"><%= growth.last["optins"].to_i + growth.last["imports"].to_i %></h3></td>
			</tr>
			<% if growth[-2] %>
			<tr>
				<td><%= Time.parse(growth[-2]["month"] + '-01').strftime("%B") %></td>
				<td><%= growth[-2]["existing"] %></td>
				<td><%= growth[-2]["optins"].to_i + growth[-2]["imports"].to_i %></td>
			</tr>
			<% end %>
			<% if growth[-3] %>
			<tr>
				<td><%= Time.parse(growth[-3]["month"] + '-01').strftime("%B") %></td>
				<td><%= growth[-3]["existing"] %></td>
				<td><%= growth[-3]["optins"].to_i + growth[-3]["imports"].to_i %></td>
			</tr>
			<% end %>
			<% if growth[-4] %>
			<tr>
				<td><%= Time.parse(growth[-4]["month"] + '-01').strftime("%B") %></td>
				<td><%= growth[-4]["existing"] %></td>
				<td><%= growth[-4]["optins"].to_i + growth[-4]["imports"].to_i %></td>
			</tr>
			<% end %>
			<% if growth[-5] %>
			<tr>
				<td><%= Time.parse(growth[-5]["month"] + '-01').strftime("%B") %></td>
				<td><%= growth[-5]["existing"] %></td>
				<td><%= growth[-5]["optins"].to_i + growth[-5]["imports"].to_i %></td>
			</tr>
			<% end %>
		</table>
		
		<table class="data" cellspacing=0>
			<tr>
				<td colspan="3"><h3 class="noMargin bold">Top 5 Opened Rates Campaigns</h3></td>
			</tr>
			<tr>
				<td width="140">Campaign</td>
				<td>Open Rate</td>
				<td>Opened</td>
			</tr>
		<% open_rate[0..4].each do |rate|%>
			<tr>
				<td><%= rate["name"] %></td>
				<td><%= rate["rate"] %>%</td>
				<td><%= rate["opened"] %></td>
			</tr>
		<% end %>

		</table>
		
			<table class="data" cellspacing=0>
				<tr>
					<td colspan="3"><h3 class="noMargin bold">Top 5 Click Rates Campaigns</h3></td>
				</tr>
				<tr>
					<td width="140">Campaign</td>
					<td>Click Rate</td>
					<td>Clicks</td>
				</tr>
			<% click_rate[0..5].each do |rate|%>
				<tr>
					<td><%= rate["name"] %></td>
					<td><%= rate["rate"] %>%</td>
					<td><%= rate["clicks"].to_i %></td>
				</tr>
			<% end %>

			</table>
			
			<% chatter = ActiveSupport::JSON.decode(@update.chatter) %>

    	<h3 class="bold chimp">Chimp Chatter</h3>
    	<ul class="chatter">
    		<% chatter[0..4].each do |chat| %>
    			<li><%= Time.parse(chat["update_time"]).strftime("%b %d, %Y at %I:%M%p") %>
    			<p class="<% if chat["type"] == 'lists:new-subscriber' %>up<% elsif chat["type"] == 'lists:unsubscribes' %>down<% end %>"><%= chat["message"]%></p></li>
    		<% end %>
    	</ul>
	</div>
	<% else %>
	<div class="col2">
			<h2>Sorry! Your information is not ready yet.</h2>
			<p>Information is gathered once every hour and your app hasn't gathered any data yet.</p>
		</div>
	<% end %>

