<% if @update.twitter_user %>
<div class="twitter block">
  <h3>Twitter Data</h3>
	<% user = ActiveSupport::JSON.decode(@update.twitter_user) %>
	<img class="left" src="<%= user["profile_image_url"] %>" />
	<h3 class="noMargin"><%= user["name"] %></h3>
	<table>
		<tr>
			<td>Followers</td>
			<td>Tweets</td>
			<td>Following</td>
			<td>Listed</td>
		</tr>
		<tr>
			<td><%= user["followers_count"] %></td>
			<td><%= user["statuses_count"] %></td>
			<td><%= user["friends_count"] %></td>
			<td><%= user["listed_count"] %></td>
		</tr>
	</table>
	
	<% tweets = ActiveSupport::JSON.decode(@update.tweets) %>
	<ul class="tweets">
	<% tweets.each do |tweet|%>
		<li><img class="left" src="<%= tweet["user"]["profile_image_url"] %>" /> 
		<div class="status">
			<b><a target="_blank" href="http://twitter.com/#!/<%= tweet["user"]["screen_name"] %>"><%= tweet["user"]["screen_name"] %></a></b><br />
		<%= tweet["text"] %>
		</div>
		</li>
	<% end%>
	</ul>
</div>
<% end %>
