<div class="container clearfix">
		<table id="users" cellspacing=0>
			<tr>
		    <th>Client</th>
				<th>Username</th>
				<th>Email</th>
		    <th>Facebook</th>
		    <th>Twitter</th>
				<th>Analytics</th>
		    <th></th>
		    <th></th>
		    <th></th>
		  </tr>
			<% @users.each do |user| %>
			  <tr>
					<td><%= user.client %></td>	
			    <td><%= user.username %></td>
					<td><%= user.email %></td>
			    <td><% if user.fb_authenticated == true %><% user.facebook_token %><% else %><a href="#" class="add">Add Page ID</a>
						<form id="facebook_<%= user.username %>" class="facebook" action="/facebook_id">
							<input type="hidden" value="<%= user.username %>" name="user">
							<input type="text" value="" name="id">
							<input type="submit" value="Add">
						</form>
					<% end %></td>
			    <td><% if user.twitter_authenticated == true %>Yes
							<% else %>
							<form id="twitter_<%= user.username %>" action="/twitter_register">
								<input type="hidden" value="<%= user.username %>" name="user">
								<input type="submit" value="Register">
							</form>
							<% end %></td>
							<td><% if user.analytics_authenticated == true %><%= user.analytics %><% else %><a href="#" class="google">Add Analytics ID</a>
								<form id="analytics_<%= user.username %>" class="analytics" action="/analytics">
									<input type="hidden" value="<%= user.username %>" name="user">
									<input type="text" value="" name="id">
									<input type="submit" value="Add">
								</form>
							<% end %></td>
			    <td><%= link_to 'Show', user %></td>
			    <td><%= link_to 'Edit', edit_user_path(user) %></td>
			    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
			  </tr>
			<% end %>
		</table>
</div>
