<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <%= stylesheet_link_tag "scaffold" %>
	<%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "jquery.infieldlabel.min.js", "jquery.validate.min.js", "application" %>
  <%= csrf_meta_tag %>
  <meta name="viewport" content="width=320" />
  <%= "<!--[if lte IE 8]>#{stylesheet_link_tag 'ie'}<![endif]-->".html_safe if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
  <link rel="stylesheet" href="/stylesheets/handheld.css" />
	<script type="text/javascript" src="http://use.typekit.com/epq8thw.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
<% if session[:user] %>
	<% if User.admin?(session[:user]) %>
		<div class="topbar">
			<div class="wrapper">
				<ul>
					<li><a href="/admin">View all Users</a></li>
					<li><a href="/users/new">Add a New Client</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
			</div>
		</div>
	<% end %>
<% end %>
<div class="wrapper">
	<a href="/"><h1 class="header">Balcom Social Dashboard</h1></a>
	<% if flash[:error]%>
		<div class="error_message"><%= flash[:error] %></div>
	<% end %>
	
	<% if flash[:success]%>
		<div class="success_message"><%= flash[:success] %></div>
	<% end %>
<%= yield %>
</div>
</body>
</html>
