<% session[:account_id] = @account.id %>

<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => 'text' %>
  </div>

  <div class="field">
		Facebook:<br />
		<% if @account.facebook_profile_id %>
			Profile ID: <%= @facebook_profile %> <a href="#" class="edit">Change Profile</a>
			<div class="edit">
			<select name="account[facebook_profile_id]">
				<% @facebook_profiles.each do |profile|%>
					<option <% if profile.profile_id.to_i == @account.facebook_profile_id.to_i %>selected="selected" <% end %> value="<%= profile.profile_id %>"><%= profile.profile_name %></option>
				<% end %>
			</select><br />
			<a href="/accounts/<%= @account.id %>/remove_fb">Remove Current Facebook Account</a>
		</div>
		<% else %>
			<% if @facebook_profiles%>
			<select name="account[facebook_profile_id]">
				<% @facebook_profiles.each do |profile|%>
					<option <% if profile.profile_id.to_i == @account.facebook_profile_id.to_i %>selected="selected" <% end %> value="<%= profile.profile_id %>"><%= profile.profile_name %></option>
				<% end %>
			</select><br />
			<a href="/accounts/<%= @account.id %>/remove_fb">Remove Current Facebook Account</a>
			<% else %>
				<a href="/facebook">Add a Facebook Page/App</a>
			<% end %>
		<% end %>
  </div>
  <div class="field">
    Twitter:<br />
		<% if @account.twitter_token %>
		  User: <%= @account.twitter_name %><br />
			<a href="/accounts/<%= @account.id %>/remove_twitter">Remove Current Twitter Account</a>
		<% else %>
			<a href="/twitter">Add a Twitter Account</a>
		<% end %>
  </div>
  <div class="field">
	    Google Analytics and Adwords:<br />
	<% if @account.google_profile_id %>
		Profile ID: <%= @google_profile %> <a href="#" class="edit">Change Profile</a>
		<div class="edit">
			<select name="account[google_profile_id]">
				<% @google_profiles.each do |profile|%>
					<option <% if profile.profile_id.to_i == @account.google_profile_id.to_i %>selected="selected" <% end %> value="<%= profile.profile_id %>"><%= profile.profile_name %></option>
				<% end %>
			</select><br />
			<a href="/accounts/<%= @account.id %>/remove_google">Remove Current Google Account</a>
		</div>
	<% else %>
		<% if @google_profiles %>
				<select name="account[google_profile_id]">
					<% @google_profiles.each do |profile|%>
						<option <% if profile.profile_id.to_i == @account.google_profile_id.to_i %>selected="selected" <% end %> value="<%= profile.profile_id  %>"><%= profile.profile_name %></option>
					<% end %>
				</select><br />
				<a href="/accounts/<%= @account.id %>/remove_google">Remove Current Google Account</a>
		<% else %>
			<a href="/google">Add Google Analytics/Adwords</a>
		<% end %>
	<% end %>
  </div>
  <div class="field">
	<%= f.label :mailchimp_api_key, "Mail Chimp API Key" %><br />
		<% if @account.mailchimp_list_id %>
			Mail Chimp List: <%= @mailchimp_profile %><br /> 					
			<% if @mailchimp_lists %>
				<select name="account[mailchimp_list_id]">
					<% @mailchimp_lists.each do |profile|%>
						<option <% if profile.profile_id.to_i == @account.mailchimp_list_id.to_i %>selected="selected" <% end %> value="<%= profile.profile_id  %>"><%= profile.profile_name %></option>
					<% end %>
				</select><br />
			<a href="/accounts/<%= @account.id %>/remove_mc">Remove Current Mail Chimp Account</a>
			<% end %>
		<% else %>
			<% if @mailchimp_lists %>
				<% if @mailchimp_lists.empty? %>
					<%= link_to 'Update your Accounts', "/accounts/#{@account.id}/update_list" %> in order to get Mail Chimp Lists.
				<% else %>
					<select name="account[mailchimp_list_id]">
						<% @mailchimp_lists.each do |profile|%>
							<option <% if profile.profile_id == @account.mailchimp_list_id %>selected="selected" <% end %>  value="<%= profile.profile_id  %>"><%= profile.profile_name %></option>
						<% end %>
					</select>
					<a href="/accounts/<%= @account.id %>/remove_mc">Remove Current Mail Chimp Account</a>
				<% end %>
			<% else %>
		    <%= f.text_field :mailchimp_api_key, :class => 'text' %>
				 <p>If you're not sure what your Mail Chimp API Key is or you don't have one, <a href="http://admin.mailchimp.com/account/api" target="_blank">Get a Key Here.</a>
			<% end %>
		<% end %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'submit' %>
  </div>
<% end %>
