<% session[:account_id] = @account.id %>

<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
		Facebook:<br />
		<a href="https://www.facebook.com/dialog/oauth?client_id=231052250248689&redirect_uri=http://social-dashboard.heroku.com/facebook_callback&scope=manage_pages">Add a Facebook Page</a>
  </div>
  <div class="field">
    Twitter:<br />
		<a href="/twitter">Add a Twitter Account</a>
  </div>
  <div class="field">
	    Google Analytics and Adwords:<br />
	<% if @google_profiles %>
			<select name="account[google_profile_id]">
				<% @google_profiles.each do |profile|%>
					<option value="<%= profile[1] %>"><%= profile[0] %></option>
				<% end %>
			</select>
	<% else %>
		<a href="/google">Add Google Analytics/Adwords</a>
	<% end %>
  </div>
  <div class="field">
    <%= f.label :mailchimp_api_key, "Mail Chimp API Key" %><br />
    <%= f.text_field :mailchimp_api_key %>
  </div>
  <p>If you're not sure what your Mail Chimp API Key is or you don't have one, <a href="http://admin.mailchimp.com/account/api" target="_blank">Get a Key Here.</a>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
