<% session[:account_id] = @account.id %>

<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
		Facebook:<br />
		<% if @account.facebook_profile_id %>
			Profile ID: <%= @facebook_profile %> <a href="#" class="edit">Change Profile</a>
			<div class="edit">
			<select name="account[facebook_profile_id]">
				<% @facebook_profiles.each do |profile|%>
					<option value="<%= profile.profile_id %>"><%= profile.profile_name %></option>
				<% end %>
			</select>
		</div>
		<% else %>
			<% if @account.facebook_profiles %>
			<select name="account[facebook_profile_id]">
				<% @facebook_profiles.each do |profile|%>
					<option value="<%= profile.profile_id %>"><%= profile.profile_name %></option>
				<% end %>
			</select>
			<% else %>
				<a href="/facebook">Add a Facebook Page/App</a>
			<% end %>
		<% end %>
  </div>
  <div class="field">
    Twitter:<br />
		<% if @account.twitter_token %>
		  Token: <%= @account.twitter_token %>
		<% else %>
			<a href="/twitter">Add a Twitter Account</a>
		<% end %>
  </div>
  <div class="field">
	    Google Analytics and Adwords:<br />
	<% if @account.google_profile_id %>
		Profile ID: <%= @google_profile %> <a href="#" class="edit">Change Profile</a>
		<div class="edit">
			<select name="account[google_profile_id]">
				<% @google_profiles.each do |profile|%>
					<option value="<%= profile.profile_id %>"><%= profile.profile_name %></option>
				<% end %>
			</select>
		</div>
	<% else %>
		<% if @google_profiles %>
				<select name="account[google_profile_id]">
					<% @google_profiles.each do |profile|%>
						<option value="<%= profile.profile_id  %>"><%= profile.profile_name %></option>
					<% end %>
				</select>
		<% else %>
			<a href="/google">Add Google Analytics/Adwords</a>
		<% end %>
	<% end %>
  </div>
  <div class="field">
	Mailchimp:<br />
		<% if @account.mailchimp_list_id %>
			Profile ID: <%= @mailchimp_profile %>
		<% else %>
			<% if @mailchimp_lists %>
					<select name="account[mailchimp_list_id]">
						<% @mailchimp_lists.each do |profile|%>
							<option value="<%= profile.profile_id  %>"><%= profile.profile_name %></option>
						<% end %>
					</select>
			<% else %>
				<%= f.label :mailchimp_api_key, "Mail Chimp API Key" %><br />
		    <%= f.text_field :mailchimp_api_key %>
				 <p>If you're not sure what your Mail Chimp API Key is or you don't have one, <a href="http://admin.mailchimp.com/account/api" target="_blank">Get a Key Here.</a>
			<% end %>
		<% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
