<h1>Listing accounts</h1>

<table>
  <tr>
    <th>Facebook token</th>
    <th>Twitter token</th>
    <th>Twitter secret</th>
    <th>Google token</th>
    <th>Google secret</th>
    <th>Mailchimp api key</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%= account.facebook_token %></td>
    <td><%= account.twitter_token %></td>
    <td><%= account.twitter_secret %></td>
    <td><%= account.google_token %></td>
    <td><%= account.google_secret %></td>
    <td><%= account.mailchimp_api_key %></td>
    <td><%= account.name %></td>
    <td><%= link_to 'Show', account %></td>
    <td><%= link_to 'Edit', edit_account_path(account) %></td>
    <td><%= link_to 'Destroy', account, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Account', new_account_path %>


