<h1>Listing accounts</h1>

<table>
  <tr>
	  <th>Name</th>
    <th>Facebook Page/App</th>
    <th>Twitter Account</th>
    <th>Google Analytics Profile</th>
    <th>Mailchimp List</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
	
    <td><%= account.name %></td>
    <td><% if account.facebook_profile_id %>
					<%= Account.get_profile_name(account.facebook_profile_id, "facebook") %>
				<% else %>
					<% if account.facebook_token %>
						<p>You have verified your Facebook account, but you have yet to tie it to a Facebook Page or App to this profile.</p>
					<% else %>
						<p>You haven't verified your Facebook Account Yet.</p>
					<% end %>
				<% end %>
		</td>
    <td><% if account.twitter_name %>
					<%= account.twitter_name %>
					<% else %>
						<p>You haven't verified your twitter account yet.</p>
					<% end %>
					</td>
    <td><% if account.google_profile_id %>
					<%= Account.get_profile_name(account.google_profile_id, "google") %>
				<% else %>
					<% if account.google_token %>
						<p>You have verified your Google Analytics account, but you have yet to tie a Google Analytics Profile to this profile.</p>
					<% else %>
						<p>You haven't verified your Google Analytics account Yet.</p>
					<% end %>
				<% end %>
		</td>
		<td><% if account.mailchimp_list_id %>
					<%= Account.get_profile_name(account.mailchimp_list_id, "mailchimp") %>
				<% else %>
					<% if !account.mailchimp_api_key.to_s.empty? %>
						<p>You have verified your Mailchimp account, but you have yet to tie it to a Mail Chimp Subscription List to this profile.</p>
					<% else %>
						<p>You haven't verified your Mail Chimp account Yet.</p>
					<% end %>
				<% end %>
				</td>
    <td><%= link_to 'Show', account %></td>
    <td><%= link_to 'Edit', edit_account_path(account) %></td>
    <td><%= link_to 'Destroy', account, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Account', new_account_path %>


