<h1>Listing accounts</h1>

<table>
  <tr>
	  <th>Name</th>
    <th>Facebook Page/App</th>
    <th>Twitter token</th>
    <th>Twitter secret</th>
    <th>Google Analytics Profile</th>
    <th>Mailchimp List</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
	
    <td><%= account.name %></td>
    <td><%= Account.get_profile_name(account.facebook_profile_id, "facebook") %></td>
    <td><%= account.twitter_token %></td>
    <td><%= account.twitter_secret %></td>
    <td><%= Account.get_profile_name(account.google_profile_id, "google") %></td>
		<td><%= Account.get_profile_name(account.mailchimp_list_id, "mailchimp") %></td>
    <td><%= link_to 'Show', account %></td>
    <td><%= link_to 'Edit', edit_account_path(account) %></td>
    <td><%= link_to 'Destroy', account, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Account', new_account_path %>


