<p id="notice"><%= notice %></p>

<p>
  <b>Facebook token:</b>
  <%= @account.facebook_token %>
</p>

<p>
  <b>Twitter token:</b>
  <%= @account.twitter_token %>
</p>

<p>
  <b>Twitter secret:</b>
  <%= @account.twitter_secret %>
</p>

<p>
  <b>Twitter monthly count:</b>
  <%= @account.twitter_monthly_count %>
</p>

<p>
  <b>Facebook monthly count:</b>
  <%= @account.facebook_monthly_count %>
</p>

<p>
  <b>Mailchimp api key:</b>
  <%= @account.mailchimp_api_key %>
</p>

<p>
  <b>Name:</b>
  <%= @account.name %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
