<p id="notice"><%= notice %></p>

<h1><%= @account.name %></h1>

<%= render :partial => "shared/twitter"%>

<%= render :partial => "shared/facebook"%>


<br />
<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
